.button {
  padding: 10px 16px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  user-select: none;
  transition: color 200ms ease-out, border-color 200ms ease-out;

  &:hover,
  &:focus {
    color: var(--text-accent);
    border-color: currentColor;
    outline: none;
  }

  &[disabled] {
    opacity: 0.9;
    cursor: not-allowed;
  }
}
